* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
}

.main {
    height: 100vh;
    background-color: rgb(226, 226, 226);
    text-align: center;
}

.postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    width: 20%;
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    background-color: white;
}

.postImg {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}

.postTitle {
    margin-bottom: 5px;
}

@media (max-width: 1440px) {
    .post{
        width: 25%;
    }
}

@media (max-width: 800px) {
    .post{
        width: 33%;
    }
}

@media (max-width: 600px) {
    .post{
        width: 100%;
    }
}